<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Listado Materias</title>
    <style>
        header,
        footer {
            background-color: #1870BC;
            color: white;
        }

        .logo {
            max-height: 50px;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header>
        <div data-th-replace="~{fragments/header::encabezado}"></div>
    </header>
    
    <!-- Navigation -->
    <nav>
        <div data-th-replace="~{fragments/header::navbar}"></div>
    </nav>
    <div class="main-container">
        <h1 class="text-center">Listado de Materias</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Carga Horaria</th>
                        <th scope="col">Modalidad</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Edición</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="materia : ${listadoMateria}">
                        <td data-th-text="${materia.codigo}"></td>
                        <td data-th-text="${materia.nombre}"></td>
                        <td data-th-text="${materia.curso}"></td>
                        <td data-th-text="${materia.cantidadHoras}"></td>
                        <td data-th-text="${materia.modalidad}"></td>
                        <td data-th-text="${materia.docente?.apellido}">Sin asignar</td>
                        <td data-th-text="${materia.carrera?.nombre}">Sin asignar</td>
                        <td>
                            <a data-th-href="@{'/modificarMateria/'+${materia.codigo}}" class="btn btn-warning">Modificar</a>
                            <a data-th-href="@{'/borrarMateria/'+${materia.codigo}}" class="btn btn-danger">Borrar</a>                    
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center mt-4">
                <a data-th-href="@{/formularioMaterias}" class="btn btn-custom">Volver al Formulario</a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div data-th-replace="~{fragments/footer::footer}"></div>
    </footer>
    <script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

